<div class='well'>
  Welcome!!
</div>
<ul class='list-group'>
  <li class='list-group-item'>
    <pre>
Goals:
  - Build this app in 2 hours
  - Gameplan
    - set up repo for you and your parter
    - work together to set up app which returns browser/index.html from '/' route
    - front end person will start building out front end
    - back end person will start building out back end
    - you must push and pull every 15 minutes
    - start deploying early (within the first 45 minutes)
    - try to avoid merge conflicts by focusing on either front end or back end.
    </pre>
    <pre>
Backend:
  Models
    - User
    - Group
  Routes
    - /api/sessions - GET POST DELETE
    - /api/groups   - GET
    - /api/users    - PUT, (GET)

Front End:
  Services:
    - AuthService   - login, logout, me
    - UserService   - update
    - GroupService  - findAll
  Routes:
    - home
    - login
    - settings
    </pre>
  </li>
</ul>
